@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    line-height: 1.5;
    position: relative;
  }

  button:focus > img {
    @apply opacity-50;
  }
}
@layer components {
  .link-style {
    @apply cursor-pointer border-b-4 border-solid border-transparent py-7 capitalize text-darkGrayishBlue transition   duration-300 ease-in-out hover:border-b-4 hover:border-orange hover:text-veryDarkBlue;
  }
  .btn-add {
    @apply flex w-full items-center justify-center gap-5 rounded-md bg-orange p-3 font-bold text-lightGrayish outline-none hover:opacity-90 hover:shadow-xl focus:ring-4 focus:ring-red-500 lg:w-[300px];
  }
}
@layer utilities {
}
